<link rel="webmention" href="https://webmention.io/ybbond.id/webmention" />
<link rel="pingback" href="https://webmention.io/ybbond.id/xmlrpc" />

<!--
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
-->

<link rel="microsub" href="https://aperture.p3k.io/microsub/603">

<link data-hint="Twitter" title="Twitter" href="https://twitter.com/{{ .Site.Params.Twitter }}" rel="me" />
<link data-hint="GitHub" title="GitHub" href="https://github.com/{{ .Site.Params.Github }}" rel="me" />
<link data-hint="Micro.Blog" title="Micro.Blog" href="https://micro.blog/ybbond" rel="me" />
<link data-hint="Email" title="Email" href="mailto:{{ .Site.Params.Email }}" rel="me" />
<link data-hint="Mastodon" title="Mastodon" href="https://indieweb.social/@ybbond" rel="me" />
<link data-hint="Instagram" title="Instagram" href="https://www.instagram.com/{{ .Site.Params.Instagram }}" rel="me" />


<link rel="openid.delegate" href="https://ybbond.id/" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />