<link data-hint="Twitter" title="Twitter" href="https://twitter.com/{{ .Site.Params.Twitter }}" rel="me" />
<link data-hint="GitHub" title="GitHub" href="https://github.com/{{ .Site.Params.Github }}" rel="me" />
<link data-hint="Micro.Blog" title="Micro.Blog" href="https://micro.blog/ybbond" rel="me" />
<link data-hint="Email" title="Email" href="mailto:{{ .Site.Params.Email }}" rel="me" />
<link data-hint="Mastodon" title="Mastodon" href="https://indieweb.social/@ybbond" rel="me" />


<link rel="openid.delegate" href="https://ybbond.dev/" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />

<link rel="webmention" href="https://webmention.io/ybbond.dev/webmention" />
<link rel="pingback" href="https://webmention.io/ybbond.dev/xmlrpc" />