<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link data-hint="Twitter" title="Twitter" href="https://twitter.com/{{ .Site.Params.Twitter }}" rel="me" />
<link data-hint="GitHub" title="GitHub" href="https://github.com/{{ .Site.Params.Github }}" rel="me" />
<link data-hint="Micro.Blog" title="Micro.Blog" href="https://micro.blog/ybbond" rel="me" />
<link data-hint="Email" title="Email" href="mailto:{{ .Site.Params.Email }}" rel="me" />
<link data-hint="Mastodon" title="Mastodon" href="https://indieweb.social/@ybbond" rel="me" />


{{ with .OutputFormats.Get "rss" }}
    {{ $rssTitle := printf "%s RSS" $.Site.Title }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $rssTitle | safeHTML }}
{{ end }}

<link href="https://micro.blog/indieauth/auth" rel="authorization_endpoint" />
<link href="https://micro.blog/indieauth/token" rel="token_endpoint" />

<title>{{ with or (.Page.Title) (.Site.Title) }}{{ . }} ::{{ end }} {{ .Site.Params.Author }}</title>

<meta
  name="description"
  content="{{if .IsHome}}{{ .Site.Params.Description }}{{ else if .Params.description }}{{ .Params.description }}{{else}}{{ .Summary }} →{{end}}"
/>
{{ with .Site.Params.Author }}
  <meta name="author" content="{{ . }}">
{{ end }}

<style amp-custom>
  {{ with resources.Get "styles.scss" | resources.ToCSS | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
</style>

<script type="application/javascript" src="{{ .Site.BaseURL }}darkToggler.js"></script>
<script type="application/javascript" src="{{ .Site.BaseURL }}lazyImage.js"></script>

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="sitemap" href="{{ "sitemap.xml" | absURL }}" type="application/xml" />

{{ partial "head/og-metas.html" . }}
{{ partial "head/twitter-card-metas.html" . }}
