<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ with or (.Page.Title) (.Site.Title) }}{{ . }} ::{{ end }} {{ .Site.Params.Author }}</title>
<meta
  name="description"
  content="{{if .IsHome}}{{ .Site.Params.Description }}{{ else if .Params.description }}{{ .Params.description }}{{else}}{{ .Summary }} →{{end}}"
/>
{{ with .Site.Params.Author }}
  <meta name="author" content="{{ . }}">
{{ end }}

{{ with .OutputFormats.Get "rss" }}
    {{ $rssTitle := printf "%s RSS" $.Site.Title }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $rssTitle | safeHTML }}
{{ end }}

<style>
  {{ with resources.Get "fonts.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "variables.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "theme.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "main.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "header.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "footer.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "content.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
  {{ with resources.Get "responsive.css" | resources.Minify }}
      {{ .Content | safeCSS }}
  {{ end }}
</style>


<link rel="canonical" href="{{ .Permalink }}" />
<link rel="sitemap" href="{{ "sitemap.xml" | absURL }}" type="application/xml" />

{{ partial "head/auth-links.html" . }}
{{ partial "head/og-metas.html" . }}
{{ partial "head/twitter-card-metas.html" . }}
