{{ $image := (.Page.Resources.GetMatch  .Destination) }}
{{ $alt := .Text }}
{{ $title := "" }}
{{ if ne .Text "" }}
  {{ $title = .Text }}
{{ end }}
{{ if ne .Title "" }}
  {{ $title = .Title }}
{{ end }}

{{ $width := "400px" }}
{{ $height := "520px" }}

{{- if gt $image.Width $image.Height }}
{{ $width = "520px" }}
{{ $height = "380px" }}
{{- end }}

<figure class="image-figure">
  <center>
    <div style="width: {{ $width }};height: {{ $height }};">
      <img
        src="{{ $image.RelPermalink }}"
        style="max-width: 100%; height: auto;"
        alt={{ .Text | safeHTML }}
        title={{ .Text | safeHTML }}
      />
      <figcaption>
        <em>{{ .Text | safeHTML }} &nbsp;
          <a title="Link to open full image." href="{{ $image.RelPermalink }}" class="view-full-size">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><path d="M71.2 48.8c1.6 1.6 4.1 1.6 5.6 0L112 13.6V32c0 2.4 2.2 4.4 4.7 3.9 2-.3 3.3-2.2 3.3-4.2V4c0-2.2-1.8-4-4-4H88.2c-2 0-3.8 1.4-4.2 3.3-.4 2.5 1.6 4.7 4 4.7h18.4L71.2 43.2c-1.6 1.6-1.6 4.1 0 5.6zm20.8-.9V104c0 4.4-3.6 8-8 8H16c-4.4 0-8-3.6-8-8V36c0-4.4 3.6-8 8-8h56.1c1.1 0 2.1-.4 2.8-1.2l5.1-5.1c.6-.6.2-1.7-.7-1.7H12C5.4 20 0 25.4 0 32v76c0 6.6 5.4 12 12 12h76c6.6 0 12-5.4 12-12V40.6c0-.9-1.1-1.3-1.7-.7L93.2 45c-.8.8-1.2 1.8-1.2 2.9z"></path></svg>
          </a>
        </em>
      </figcaption>
    </div>
  </center>
</figure>
