<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ .Title }}</title>

<meta name="description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Description}}{{end}}" />
{{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
{{ end }}


{{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}

{{- partial "head/styles.html" . -}}

{{- partial "head/og-metas.html" . -}}

{{- partial "head/pwa-metas.html" . -}}