<style amp-custom>
    {{ with resources.Get "styles.scss" | resources.ToCSS | resources.Minify }}
        {{ .Content | safeCSS }}
    {{ end }}
</style>

<link
  rel="preload"
  as="style"
  onload="this.rel = 'stylesheet'"
  href='https://cdn.ybbond.dev/binaries/iAWriterDuospace-Regular.woff'
>
<link
  rel="preload"
  as="style"
  onload="this.rel = 'stylesheet'"
  href='https://cdn.ybbond.dev/binaries/iAWriterDuospace-Bold.woff'
>

<noscript>
  <link
    rel="stylesheet"
    href='https://cdn.ybbond.dev/binaries/iAWriterDuospace-Regular.woff'
  >
  <link
    rel="stylesheet"
    href='https://cdn.ybbond.dev/binaries/iAWriterDuospace-Bold.woff'
  >
</noscript>