<article class="summary">
  <h2 class="summary__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <time>{{ .Date.Format "02 Jan 2006" }}</time>
  <span> - </span>
  {{ range .Params.tags }}
    {{- partial "components/tagitem.html" . -}}
  {{ end }}
  {{ with .Params.Image.Src }}
      <amp-img class="summary__image"
          src="{{ . }}"
          layout="responsive"
          width="1280"
          height="720"
          object-fit="contain"
          alt="{{ $.Title }}"></amp-img>
  {{ end }}
  <p>
    {{ .Summary }}
    {{ if .Truncated }}
      <p>
        <a href="{{ .Permalink }}">
          {{ i18n "readmore" }}
        </a>
      </p>
    {{ end }}
  </p>
</article>