{{ $dateformat := .Date.Format "2006-01-02 15:04" }}
{{ $idslug := (print "date-" $dateformat "-") | urlize }}
<div class="notes h-entry">
  <p class="p-author" rel="author">{{ .Site.Params.Author }}</p>
  <p class="notes__title" id={{ $idslug }}>
    <span>
      <time class="notes__title__date dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}+07:00">
        {{ .Date.Format "02 Jan 2006" }}
      </time>
        {{ if .Title }}
        {{ else }}
          <a class="u-url" href="/notes/#{{ $idslug }}">#</a></span>
        {{ end }}
    </span>
    {{ with .Title}}
      <span class="notes__title__separator"> - </span>
    {{ end }}
    {{ with .Title}}
      <span class="notes__title__title">{{ . }} <a class="u-url" href="#{{ $idslug }}">#</a></span>
    {{ end }}
  </p>
  <div class="e-content p-name">
    {{ .Content }}
  </div>
</div>