{{ $dateformat := .Date.Format "2006-01-02 15:04" }}
{{ $idslug := (print "date-" $dateformat "-") | urlize }}
<div class="content notes h-entry" id={{ $idslug }}>
  <div id="h-card" class="h-card u-author" hidden="">
    <data class="u-photo" value={{ "logo.png" | absURL }}></data>
    <a class="p-author" href={{ .Site.Params.MainSiteURL }} rel="author">{{ substr .Site.Params.Author 0 20 }}.</a>
    <a class="u-email" href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    <a rel="syndication" class="u-syndication" href={{ .Permalink }}>{{ .Title }}</a>
    <span class="p-locality">Jakarta</span>, <span class="p-country-name">Indonesia</span>
  </div>
  <p class="notes__title">
    <a data-goatcounter-click="cl-note-full" class="no-outline" href={{ .Permalink }}>
        <time title="{{ .Date.Format "Monday, 02 January 2006 on 15:04:05" }} GMT+7" class="notes__title__date dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}+07:00">{{ .Date.Format "02 Jan 2006" }}</time></a>
    &nbsp;-
    {{ with .Params.tags }}
      <span class="hcard-tags">
        {{ range . }}
          {{- partial "components/tagitem.html" . -}}
        {{ end }}
      </span>
    {{ end }}
  </p>
  <div class="notes__content e-content p-name">
    {{ .Content }}
  </div>
  <p class="notes__more">
    <a data-goatcounter-click="cl-note-full" class="u-url" href={{ .Permalink }}>
      Read More »
    </a>
  </p>
</div>
