{{ $dateformat := .Date.Format "2006-01-02" }}
{{ $idslug := (print $dateformat "-" .Title) | urlize }}
<div class="notes">
  <h4 class="notes__title" id={{ $idslug }}>
    <span>
      <time class="notes__title__date">
        {{ .Date.Format "02 Jan 2006" }}
      </time>
        {{ if .Title }}
        {{ else }}
          <a href="#{{ $idslug }}">#</a></span>
        {{ end }}
    </span>
    {{ with .Title}}
      <span class="notes__title__separator"> - </span>
    {{ end }}
    {{ with .Title}}
      <span class="notes__title__title">{{ . }} <a href="#{{ $idslug }}">#</a></span>
    {{ end }}
  </h4>
  {{ .Content }}
</div>