<nav class="pagination">
  {{ if gt .Paginator.TotalPages 1 }}
    {{ if .Paginator.HasNext }}
      <a
        class="button pagination__left"
        role="button"
        href="{{ trim .Paginator.Next.URL "/" | absLangURL }}"
        data-rel="prefetch"
        rel="next"
      >
        ← Older
      </a>
    {{ else }}
      <span class="pagination__left"></span>
    {{ end }}
    <span class="pagination__center"></span>
    {{ if .Paginator.HasPrev }}
      <a
        class="button pagination__right"
        role="button"
        href="{{ trim .Paginator.Prev.URL "/" | absLangURL }}"
        data-rel="prefetch"
        rel="prev"
      >
        Newer →
      </a>
    {{ else }}
      <span class="pagination__right"></span>
    {{ end }}
  {{ else }}
    <span>No More Post</span>
  {{ end }}
</nav>