{{ $dateformat := .Date.Format "2006-01-02 15:04" }}
{{ $idslug := (print "date-" $dateformat "-") | urlize }}
{{ $author := ""}}
{{ if isset .Params.Destination "author" }}
  {{ $author = print " by «" .Params.Destination.Author "»" }}
{{ end }}
{{ $title := print "In response to " "«" .Params.Destination.Title "»" $author }}
<div class="content responses h-entry" id={{ $idslug }}>
  <div id="h-card" class="h-card u-author" hidden="">
    <data class="u-photo" value={{ "logo.png" | absURL }}></data>
    <a class="p-name" href={{ .Permalink }}>{{ $title }}</a>
    <a class="p-author" href={{ .Site.Params.MainSiteURL }} rel="author">{{ substr .Site.Params.Author 0 20 }}.</a>
    <a class="u-email" href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    <a rel="syndication" class="u-syndication" href={{ .Permalink }}>{{ .Title }}</a>
    <span class="p-locality">Jakarta</span>, <span class="p-country-name">Indonesia</span>
  </div>
  <p class="responses__title">
    <a data-goatcounter-click="cl-response-full" class="u-url" href={{ .Permalink }}>
      <span>
        <time title="{{ .Date.Format "Monday, 02 January 2006 on 15:04:05" }} GMT+7" class="responses__title__date dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}+07:00">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
        »
      </span>
    </a>
  </p>
  <div class="responses__content">
    <p class="responses__original"><a class="u-in-reply-to" href={{ .Params.Destination.Url }} rel="noopenner noreferrer nofollow">{{ $title }}</a></p>
    <div class="e-content">
      {{ if eq ($.Scratch.Get "scope") "single" }}
        {{ partial "components/content.html" .Content }}
      {{ else }}
        {{ partial "components/preview.html" .Content }}
      {{ end }}
    </div>
  </div>
</div>
