<article class="summary h-entry">
  {{ $permalink := .Permalink }}
  {{ $slug := .Slug }}
  {{ $title := .Title }}
  {{ with .Params.Image.Src }}
    {{ $filename := . | safeURL }}
    {{ $original := printf "%s%s" $permalink $filename }}
  {{ end }}
  <a data-goatcounter-click="{{ $slug }}" href="{{ $permalink }}" class="u-url no-outline">
    <h2 class="summary__title p-name">
      {{ $title }}
    </h2>
  </a>
  <time title="{{ .Date.Format "Monday, 02 January 2006 on 15:04:05" }} GMT+7">
    {{ .Date.Format "02 Jan 2006" }}
  </time>
  <span> - </span>
  {{ range .Params.tags }}
    {{- partial "components/tagitem.html" . -}}
  {{ end }}
<!--   {{ with .Params.Image.Src }}
      <amp-img class="summary__image"
          src="{{ . }}"
          layout="responsive"
          width="1280"
          height="720"
          object-fit="contain"
          alt="{{ $.Title }}"></amp-img>
  {{ end }}
 -->
  {{ if .Params.Description }}
    <p> {{ .Params.Description | safeHTML }} </p>
    <a data-goatcounter-click="rmore-{{ $slug }}" href="{{ $permalink }}" class="no-outline">
      <p>Read More »</p>
    </a>
  {{ else }}
    {{ if eq .Type "archives" }}
      <div class="content">
        {{ partial "components/summary-seo.html" .Content }}
      </div>
    {{ else }}
      <a data-goatcounter-click="rmore-{{ $slug }}" href="{{ $permalink }}" class="no-outline">
        <p>Read More »</p>
      </a>
    {{ end }}
  {{ end }}
</article>
