<!DOCTYPE html>
<html ⚡
  lang="{{ .Site.LanguageCode | default "en-us" }}"
  class="theme-dark"
  id="main-theme"
>
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body>
    <header class="header">
      {{ partial "header/header.html" . }}
    </header>
    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    <hr class="footer__separator">
    <footer class="footer">
      {{ partial "footer/footer.html" . }}
    </footer>
    {{ partial "components/goatcounter.html" . }}
  </body>
</html>
