{{ define "main" }}
  {{ if or .Title .Content }}
    <div>
      {{ with .Title }}<h2>{{ . }}</h2>{{ end }}
      {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
  {{ end }}

  {{ if  eq .Type "notes" }}
    {{ range (where .Site.RegularPages "Type" "notes") }}
    {{ $dateformat := .Date.Format "2006-01-02" }}
    {{ $idslug := (print $dateformat "-" .Title) | urlize }}
    <h4 id={{ $idslug }}>
      <time>{{ .Date.Format "02 Jan 2006" }}</time>
      {{ with .Title}}
        - {{ . }}
      {{ end }}
      <a href="#{{ $idslug }}">#</a>
    </h4>
    <p>{{ .Content }}</p>
    {{ end }}
  {{ else }}
    {{ range .Paginator.Pages }}
      {{ partial "post/summary.html" . }}
    {{ end }}
    {{ partial "post/pagination.html" . }}
  {{ end }}
{{ end }}