{{ define "main" }}
  <div class="h-feed">
    <div id="h-card" class="h-card u-author" hidden="">
      <data class="u-photo" value={{ "logo.png" | absURL }}></data>
      <a class="p-author" href={{ .Site.Params.MainSiteURL }} rel="author">{{ substr .Site.Params.Author 0 20 }}.</a>
      <a class="u-email" href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
      <a rel="syndication" class="u-syndication" href={{ .Permalink }}>{{ .Title }}</a>
      <span class="p-locality">Jakarta</span>, <span class="p-country-name">Indonesia</span>
      {{ with .Params.tags }}
        {{ range . }}
          <a class="p-category" href={{ (printf  "tags/%s" .) | urlize | absURL }}>{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  {{ $selflink := .Permalink }}
  {{ if or .Title .Content }}
    <div class="list__header content">
      {{ $isTag := eq .Type "tags" }}
      {{ with .Title }}
        <a href={{ $selflink }} class="no-outline u-url">
          <h1 class="p-name">
              {{ cond $isTag "Tag «" nil}}{{ . }}{{ cond $isTag "»" nil}}
          </h1>
        </a>
      {{ end }}
      {{ with .Content }}<div>{{ . }}</div>{{ end }}
    </div>
    <hr class="list__subtitle">
  {{ end }}

  {{ if  eq .Type "notes" }}
    {{ range (where .Site.RegularPages "Type" "notes") }}
      {{ partial "post/notes-item.html" . }}
    {{ end }}
  {{ else if  eq .Type "responses" }}
    {{ range (where .Site.RegularPages "Type" "responses") }}
      {{ partial "post/responses-item.html" . }}
    {{ end }}
  {{ else if  eq .Type "micro" }}
    {{ range (where .Site.RegularPages "Type" "in" (slice "notes" "responses")) }}
      {{ .Scratch.Set "scope" "list" }}
      {{ if eq .Type "responses" -}}
        {{ partial "post/responses-item.html" . }}
      {{ else -}}
        {{ partial "post/notes-item.html" . }}
      {{ end -}}
    {{ end }}
  {{ else }}
    {{ range .Paginator.Pages }}
      {{ partial "post/summary.html" . }}
      <hr>
    {{ end }}
    {{ partial "post/pagination.html" . }}
  {{ end }}
</div>
{{ end }}