{{ define "main" }}
  {{ if eq .Type "notes" }}
    <article>
      {{- partial "post/notes-item.html" . -}}
    </article>
  {{ else }}
    <article class="content h-entry">
      <h1 class="p-name">{{ .Title }}</h1>
      <div id="h-card" class="hcard">
        <img class="u-photo" src={{ "logo.png" | absURL }} alt="Weird photo of yohanes bandung" />
        <a class="p-author h-card" href={{ .Site.Params.MainSiteURL }} rel="author">{{ substr .Site.Params.Author 0 20 }}.</a>
        <a class="u-email" href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
        <a rel="syndication" class="u-syndication" href={{ .Permalink }}>{{ .Title }}</a>
        <span class="p-locality">Jakarta</span>, <span class="p-country-name">Indonesia</span>
        {{ with .Params.tags }}
          {{ range . }}
            <a class="p-category" href={{ (printf  "tags/%s" .) | urlize | absURL }}>{{ . }}</a>
          {{ end }}
        {{ end }}
      </div>
      <div class="e-content">
        {{ partial "components/content.html" .Content }}
      </div>
      <br>
      <br>
      <p {{ if eq .Type "page" }}class="hcard"{{ end }}><a class="u-url link-white" href={{ .Permalink }}>Published</a> on <time title="{{ .Date.Format "Monday, 02 January 2006 on 15:04:05" }} GMT+7" class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}+07:00">{{ .Date.Format "02 January 2006" }}</time>, for stories like this:</p>
      {{ with .Params.tags }}
        <p class="taglist">
          {{ range . }}
            {{- partial "components/tagitem.html" . -}}
          {{ end }}
        </p>
      {{ end }}
    </article>
  {{ end }}
{{ end }}