{{ $url := "/index.xml" | absURL }}
<div class="footer__nav">
  <p class="footer__nav__left">
    {{ if not .IsHome }}
      <a class="button footer__nav__left__back" href={{ .Site.BaseURL }}>
        « Back to Home
      </a>
    {{ end }}
  </p>
  <p class="footer__nav__right">
    <a class="button" href="https://github.com/{{ .Site.Params.Github }}" rel="me">GitHub</a>
    <a class="button" href="https://twitter.com/{{ .Site.Params.Twitter }}" rel="me">Twitter</a>
    <a class="button" href="https://micro.blog/{{ .Site.Params.Microblog }}" rel="me">Micro.blog</a>
    <a class="button" href="https://indieweb.social/@ybbond" rel="me">Mastodon</a>
    <a class="button" href={{ "index.xml" | absURL }}>RSS</a>
  </p>
</div>

<center class="web-ring">
<a href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8D%8D%F0%9F%95%97/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8D%8D%F0%9F%95%97/next">→</a>
</center>

<div class="hcard">
  <div class="hcard__description"><p>My <a>h-card</a></p></div>
<div id="h-card" class="h-card">
  <img class="u-photo" src={{ "logo.png" | absURL }} alt="Weird photo of yohanes bandung" />
  <a class="p-name u-url u-uid" href={{ .Site.Params.MainSiteURL }} rel="me">{{ substr .Site.Params.Author 0 20 }}.</a>
  <br>
  <a class="u-email" href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
  <br>
  <span class="p-locality">Jakarta</span>, <span class="p-country-name">Indonesia</span>
</div>
</div>

<p class="footer__copyright">
  <span class="footer__copyright__year">&copy;{{ now.Year }} {{ .Site.Params.Author }}</span>
  {{ with .Site.BaseURL }}
    <span class="footer__copyright__separator">-</span>
    <span class="footer__copyright__site">
      <a href="{{ . }}">
        {{ . | replaceRE "^https?://([^/]+).*" "$1" }}
      </a>
    </span>
  {{ end }}
</p>


