{{ $url := "/index.xml" | absURL }}
<div class="footer__nav">
  <p class="footer__nav__left">
    {{ if not .IsHome }}
      <a
        data-goatcounter-click="cl-home-foot"
        data-rel="prefetch"
        title="Button to go back to home page"
        href={{ .Site.BaseURL }}
      >« Back to Home
      </a>
    {{ end }}
  </p>
  <p class="footer__nav__right">
    <a
      data-goatcounter-click="cl-gh-foot"
      href="https://github.com/{{ .Site.Params.Github }}"
      title="external link to my github profile"
      rel="me"
    >GitHub</a>
    <a
      data-goatcounter-click="cl-twit-foot"
      href="https://twitter.com/{{ .Site.Params.Twitter }}"
      title="external link to my twitter profile"
      rel="me"
    >Twitter</a>
    <a
      data-goatcounter-click="cl-micro-foot"
      href="https://micro.blog/{{ .Site.Params.Microblog }}"
      title="external link to my micro dot blog profile"
      rel="me"
    >Micro.blog</a>
    <a
      data-goatcounter-click="cl-mast-foot"
      href="https://indieweb.social/@ybbond"
      title="external link to my mastodon profile"
      rel="me"
    >Mastodon</a>
    <a
      data-goatcounter-click="cl-rss-foot"
      title="link to the RSS Feed for main content of this site"
      href={{ "index.xml" | absURL }}
    >RSS</a>
  </p>
</div>

<center>
  <span class="footer__analytic">
    This site implements
    <a
      href="https://goatcounter.com"
      data-goatcounter-click="cl-gc-foot"
      target="_blank"
      title="A Good Privacy Aware Web Analytics"
      rel="noreferrer noopener"
    >GoatCounter</a>.
    <br>
    You can see the result on
    <a
      href="https://stats.ybbond.dev/"
      data-goatcounter-click="cl-stats-foot"
      target="_blank"
      title="external link to stats.ybbond.dev"
      rel="noreferrer noopener"
    >stats.ybbond.dev</a>.
  </span>
</center>

{{ partial "components/h-card.html" . }}

<center class="web-ring">
  <a
    data-goatcounter-click="cl-webring-prev"
    href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8D%8D%F0%9F%95%97/previous"
    target="_blank"
    rel="noreferrer noopener"
  >←</a>
    An
    <a
      data-goatcounter-click="cl-webring-center"
      href="https://xn--sr8hvo.ws/"
      target="_blank"
      rel="noreferrer noopener"
    >IndieWeb Webring</a> 🕸💍
  <a
    data-goatcounter-click="cl-webring-next"
    href="https://xn--sr8hvo.ws/%F0%9F%8E%B8%F0%9F%8D%8D%F0%9F%95%97/next"
    target="_blank"
    rel="noreferrer noopener"
  >→</a>
</center>

<center class="footer__license">
  <a rel="license" title="Creative Commons Attribution-ShareAlike 4.0 International License" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ .Site.BaseURL }}cc-by-sa-80x15.png" /></a><br />This document is licensed under a <a rel="license" title="Creative Commons Attribution-ShareAlike 4.0 International License" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.
</center>
