{{ $url := "/index.xml" | absURL }}
<div class="footer__nav">
  <p class="footer__nav__left">
    {{ if not .IsHome }}
      <a class="button" href={{ .Site.BaseURL }}>
        « Back to Home
      </a>
    {{ end }}
  </p>
  <p class="footer__nav__right">
		<a class="button" href="https://github.com/{{ .Site.Params.Github }}">GitHub</a>
		<a class="button" href="https://twitter.com/{{ .Site.Params.Twitter }}">Twitter</a>
		<a class="button" href={{ "index.xml" | absURL }}>RSS</a>
  </p>
</div>
<p class="footer__copyright">
  <span class="footer__copyright__year">&copy;{{ now.Year }} {{ .Site.Params.Author }}</span>
  {{ with .Site.BaseURL }}
    <span class="footer__copyright__separator">-</span>
    <span class="footer__copyright__site">
      <a href="{{ . }}" class="button">
        {{ . | replaceRE "^https?://([^/]+).*" "$1" }}
      </a>
    </span>
  {{ end }}
</p>