.content {
  font-family: var(--font-text);
  width: 100%;
}

.content .language-json {
  font-size: 0.75rem;
}

.content .headline-hash {
  padding: 0 0.2em;
}

.content .before-hash {
  position: absolute;
  font-size: 0.9em;
  top: 0.1rem;
}
.content .before-hash.h2 {
  left: -1.6em;
}
.content .before-hash.h3 {
  left: -2.4em;
}

.content.notes.h-entry, .content.responses.h-entry {
  /*padding: 4px 10px 1px 10px;*/
  padding: .1px;
  outline-style: solid;
  outline-width: 1px;
}

.content figcaption {
  font-size: 0.8em;
}

.content twitter-widget, .content .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.content i:not(.no-sup) {
  font-size: 0.8rem;
  vertical-align: 0.4rem;
}

.content i.fa-font-awesome-flag {
  font-size: 0.6rem;
}

.content p:not([class]) {
  margin: 1.2rem 0;
}

.content p + ul, .content p + ol {
  margin-top: -0.8rem;
}

.content table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}
.content table td, .content table th {
  border: 1px solid;
}
.content table td {
  padding: 0.5em 1em;
}
.content table th {
  padding: 1em 2em;
}

.content ol {
  margin: 1.5em 0;
  padding: 0;
  counter-reset: my-awesome-counter;
  list-style: none;
}
.content ol li {
  counter-increment: my-awesome-counter;
  list-style-position: outside;
  margin-bottom: 0.2em;
}
.content ol li span {
  position: relative;
}
.content ol li span:before {
  position: absolute;
  right: 0.5em;
  top: 0.1em;
  content: counter(my-awesome-counter)'.';
  font-size: 0.8em;
}

.content ul {
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
}
.content ul li {
  margin-bottom: 0.2em;
  position: relative;
}
.content ul li span {
  position: relative;
}
.content ul li span:before {
  right: 0.6em;
  top: -0.2em;
  display: inline-block;
  content: "–";
  position: absolute;
  z-index: 1;
}
.content ul li input {
  margin-left: -1.9em;
  position: absolute;
  z-index: 2;
  top: 3.9px;
  margin-right: 0;
}

.content__hr {
  margin: 4em 0 0;
}

.notes, .responses {
  margin-bottom: 3rem;
}
.notes > div, .notes > p, .responses > div, .responses > p {
  margin: 0;
  margin-top: 0.7rem;
}
.notes > div > p, .notes > p > p, .responses > div > p, .responses > p > p {
  margin: 0;
  margin-top: 0.7rem;
}
.notes:target, .responses:target {
  outline-style: solid;
  outline-width: 0.2em;
  outline-offset: 0.6em;
}

.content.notes, .content.responses {
  position: relative;
}

.notes__title, .responses__title {
  position: absolute;
  top: -1.8rem;
  left: 1.5rem;
  margin: 0;
  padding: .2rem .5rem;
  outline-width: 1px;
  outline-style: solid;
}

.notes__title a, .responses__title a {
  font-family: var(--font-mono);
}

.responses__original {
  margin: 1.2rem 0 !important;
}

.notes__content, .responses__content {
  margin: 2rem 1rem 1px 1.5rem !important;
}
/*.notes__content > p, .responses__content > p {
  margin-top: 0 !important;
}*/

.twitter-link {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.mastodon-link {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.responses h1 {
  margin-bottom: 0;
}
