@import "fonts";
@import "variables";

@function themed($key) {
  @return map-get($theme-map, $key);
}

.content, .notes {
  font-family: $font-text;
  width: 100%;

  .headline-hash {
    padding: 0 0.2em;
    @media(min-width: 600px) {
      display: none;
    }
  }

  .before-hash {
    position: absolute;
    font-size: 0.9em;
    top: 0.10em;
    &.h2 {
      left: -1.6em;
    }
    &.h3 {
      left: -2.4em;
    }
    @media(max-width: 599px) {
      display: none;
    }
  }

  p:not([class]) {
    margin: 1.2rem 0;
  }

  table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    td, th {
      border: 1px solid;
      @include themify($themes) {
        border-color: themed('color-text');
      }
    }
    td {
      padding: 0.5em 1em;
    }
    th {
      padding: 1em 2em;
      @include themify($themes) {
        background-color: themed('color-background-hover');
        color: themed('color-text');
      }
    }
    tr:nth-child(even) {
      @include themify($themes) {
        background-color: themed('color-background-hover');
        color: themed('color-text');
      }
    }
  }

  ol {
    margin: 1.5em 0;
    padding: 0;
    counter-reset: my-awesome-counter;
    list-style: none;
    li {
      counter-increment: my-awesome-counter;
      list-style-position: outside;
      margin-bottom: 0.2em;
      span {
        position: relative;
        &:before {
          position: absolute;
          right: 0.5em;
          top: 0.1em;
          content: counter(my-awesome-counter)'.';
          font-size: 0.8em;
          @include themify($themes) {
            color: themed('color-red');
          }
        }
      }
    }
  }

  ul {
    margin: 1.5em 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 0.2em;
      position: relative;
      span {
        position: relative;
        &:before {
          right: 0.6em;
          top: -0.2em;
          display: inline-block;
          content: "–";
          position: absolute;
          z-index: 1;
          @include themify($themes) {
            color: themed('color-red');
          }
        }
      }
      input {
        margin-left: -1.9em;
        position: absolute;
        z-index: 2;
        top: 3.9px;
        margin-right: 0;
      }
    }
  }

  figcaption {
    font-size: 0.8em;
  }

  twitter-widget {
    margin-left: auto;
    margin-right: auto;
  }
}

.notes {
  margin-bottom: 2em;

  & > div, & > p {
    margin: 0;
    margin-top: 0.7em;
    & > p {
      margin: 0;
      margin-top: 0.7em;
    }
  }

  &__title {
    margin: 0;
    a {
      font-family: $font-mono;
    }
  }

  &__content {
    margin-top: 0 !important;
    & > p {
      margin-top: 0 !important;
    }
  }

  @media (max-width: 599px) {
    &__title {
      margin: 10px 0 0;
      &__separator {
        display: none;
      }
      display: flex;
      flex-direction: column;
    }
  }

  &:target {
    outline: solid 0.2em;
    outline-offset: 0.6em;
    @include themify($themes) {
      outline-color: themed('color-background-hover');
    }
    @media (max-width: 599px) {
      outline: solid 0.3em;
      outline-offset: 0.5em;
    }
  }
}

.content__hr {
  margin: 4em 0 0;
}

.image-figure {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
