@import "fonts";
@import "variables";

.content {
  font-family: $font-text;
  width: 100%;
  pre {
    overflow: auto;
    padding: 0.5em;
  }
  code {
    padding: 0.1em;
    font-family: $font-mono;
    font-size: 0.9em;
  }
  table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    td, th {
      border: 1px solid #ddd;
    }
    td {
      padding: 0.5em 1em;
    }
    th {
      padding: 1em 2em;
      background-color: #333;
      color: $color-text;
    }
    tr:nth-child(even) {
      background-color: #333;
    }
    tr:hover {
      background-color: #303030;
    }
  }
  ul {
    padding: 0;
    li {
      position: relative;
      list-style: none;
      padding-left: 20px;
      margin-bottom: 10px;
      &:before {
        display: inline-block;
        content: "- ";
        position: absolute;
        width: 20px;
        color: $color-red;
        left: 0;
      }
    }
  }
}