@import "fonts";
@import "variables";

@function themed($key) {
  @return map-get($theme-map, $key);
}

.content, .notes  {
  font-family: $font-text;
  width: 100%;
  pre {
    overflow: auto;
    padding: 0.5em;
  }
  a {
    &:hover {
      @include themify($themes) {
       background-color: themed('color-background-hover');
      }
    }
  }
  code {
    padding: 0.1em;
    font-family: $font-mono;
    font-size: 0.9em;
  }
  :not(pre) > code {
    @include themify($themes) {
      background-color: themed('color-background-hover');
    }
  }
  table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    td, th {
      border: 1px solid;
      @include themify($themes) {
        border-color: themed('color-text');
      }
    }
    td {
      padding: 0.5em 1em;
    }
    th {
      padding: 1em 2em;
      @include themify($themes) {
        background-color: themed('color-background-hover');
        color: themed('color-text');
      }
    }
    tr:nth-child(even) {
      @include themify($themes) {
        background-color: themed('color-background-hover');
        color: themed('color-text');
      }
    }
  }
  ul {
    padding: 0;
    li {
      position: relative;
      list-style: none;
      padding-left: 20px;
      margin-bottom: 10px;
      &:before {
        display: inline-block;
        content: "- ";
        position: absolute;
        width: 20px;
        @include themify($themes) {
          color: themed('color-red');
        }
        left: 0;
      }
    }
  }
}
.notes {
  & > p {
    margin: 0;
    margin-top: 0.7em;
  }
  &__title {
    margin: 0;
  }
  padding: 0 0.7em;
  margin-bottom: 2em;
  @media (max-width: 599px) {
    &__title {
      margin: 10px 0 0;
      &__separator {
        display: none;
      }
      display: flex;
      flex-direction: column;
    }
  }
}
