@media (min-width: 600px) {
  /* content */
  .headline-hash {
    display: none;
  }

  /* header */
  .header__title:not(h1) {
    margin-top: 1.4em;
  }

  /* content */
  .image-figure {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .image-figure div.portrait {
    width: 360px;
    height: 520px;
  }
  .image-figure div.landscape {
    width: 520px;
  }
  .image-figure div.landscape.r79 {
    height: 490px;
  }
  .image-figure div.landscape.r72 {
    height: 420px;
  }
  .image-figure div.landscape.r68 {
    height: 370px;
  }
  .image-figure div.landscape.r58 {
    height: 320px;
  }
  .image-figure div.landscape.r48 {
    height: 250px;
  }
  .image-figure div.r1 {
    width: 360px;
    height: 390px;
  }
}

@media (max-width: 599px) {
  html {
    font-size: 15px;
  }

  body {
    padding: 0 1.5em;
    margin: 0;
  }

  .listing__post {
    padding: 0.3em 0 1.3em 0;
  }

  /* content */
  .before-hash {
    display: none;
  }
  .responses:target {
    outline: solid 0.3rem;
    outline-offset: 1.2rem 0.8rem;
  }
  .notes:target {
    outline: solid 0.3em;
    outline-offset: 0.5em;
  }
  .notes__title {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
  }
  .notes__title__separator {
    display: none;
  }
  .image-figure {
    margin-left: auto;
    margin-right: auto;
  }
  .image-figure div.portrait {
    width: 275px;
    height: 420px;
  }
  .image-figure div.landscape {
    width: 350px;
  }
  .image-figure div.landscape.r79 {
    height: 350px;
  }
  .image-figure div.landscape.r72 {
    height: 300px;
  }
  .image-figure div.landscape.r68 {
    height: 275px;
  }
  .image-figure div.landscape.r58 {
    height: 240px;
  }
  .image-figure div.landscape.r48 {
    height: 200px;
  }
  .image-figure div.r1 {
    width: 350px;
    height: 390px;
  }

  /* header */
  .header__title {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  .header__menu__list {
    justify-content: space-between;
  }
  .header__menu__list__item {
    margin: 0 0.1rem;
    font-size: 0.9rem;
  }

  /* footer */
  .footer__nav {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
  }
  .footer__nav__left {
    text-align: center;
    padding-bottom: 0.5em;
    margin: 0;
  }
  .footer__nav__right {
    text-align: center;
    margin-top: 0;
  }
  .footer__nav__right a {
    line-height: 2rem;
  }
}

@media (max-width: 400px) {
  /* content */
  .image-figure div.portrait {
    width: 250px;
    height: 380px;
  }
  .image-figure div.landscape {
    width: 300px;
  }
  .image-figure div.landscape.r79 {
    height: 290px;
  }
  .image-figure div.landscape.r72 {
    height: 270px;
  }
  .image-figure div.landscape.r68 {
    height: 250px;
  }
  .image-figure div.landscape.r58 {
    height: 220px;
  }
  .image-figure div.landscape.r48 {
    height: 170px;
  }
  .image-figure div.r1 {
    width: 290px;
    height: 325px;
  }

  /* webmention */
  .wm-form form {
    flex-direction: column;
  }
  .wm-form__button {
    margin-top: .5rem;
    margin-left: 0;
  }

  /* footer */
  .footer__nav__right a {
    padding: 0 0.15rem;
    margin: 0 0.15rem;
  }
}

@media(max-width: 360px) {
  a.button {
    padding: 0.3rem;
  }

  /* header */
  .header__title {
    font-size: 1.2em;
  }
  .header__menu__list__item {
    font-size: 0.8rem;
  }

  /* content */
  .image-figure div.portrait {
    width: 240px;
    height: 370px;
  }
  .image-figure div.landscape {
    width: 280px;
  }
  .image-figure div.landscape.r79 {
    height: 280px;
  }
  .image-figure div.landscape.r72 {
    height: 260px;
  }
  .image-figure div.landscape.r68 {
    height: 240px;
  }
  .image-figure div.landscape.r58 {
    height: 200px;
  }
  .image-figure div.landscape.r48 {
    height: 160px;
  }
  .image-figure div.r1 {
    width: 270px;
    height: 310px;
  }
}

@media(max-width: 320px) {
  /* content */
  .image-figure div.portrait {
    width: 230px;
    height: 360px;
  }
  .image-figure div.landscape {
    width: 250px;
  }
  .image-figure div.landscape.r79 {
    height: 250px;
  }
  .image-figure div.landscape.r72 {
    height: 240px;
  }
  .image-figure div.landscape.r68 {
    height: 230px;
  }
  .image-figure div.landscape.r58 {
    height: 200px;
  }
  .image-figure div.landscape.r48 {
    height: 150px;
  }
  .image-figure div.r1 {
    width: 250px;
    height: 290px;
  }
}