@import "variables";
@import "fonts";
@import "content";

html {
  @include themify($themes) {
    background-color: themed('color-background');
    color: themed('color-text');
  }
  font-family: $font-text;
  line-height: 1.6;
  font-size: 16px;
}

body {
  @include themify($themes) {
    background-color: themed('color-background');
    color: themed('color-text');
  }
  max-width: 600px;
  margin: 0 auto;
}

hr {
  margin: 40px auto;
  @include themify($themes) {
    border: solid 1px themed('color-border');
  }
}

@media (max-width: 599px) {
  html {
    font-size: 15px;
  }
  body {
    padding: 0 1em;
    margin: 0;
  }
}

h1, h2, h3, h4, h5 {
  @include themify($themes) {
    color: themed('color-green');
  }
  font-weight: unset;
  font-family: $font-text;
  line-height: 1.3;
  position: relative;
  a {
    font-family: $font-mono;
  }
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  &:not(.button h2) {
    &:hover {
      outline-style: solid;
      outline-width: 0.3em;
      @include themify($themes) {
        outline-color: themed('color-background-hover');
        background-color: themed('color-background-hover');
      }
    }
  }
  @include themify($themes) {
    color: themed('color-blue');
    &:hover {
      color: themed('color-red');
    }
    &.link-white, .link-white {
      color: themed('color-text');
    }
  }
  &:hover {
    @include themify($themes) {
      background-color: themed('color-background-hover');
    }
  }
  &.button {
    display: inline-block;
    padding: 0.3em 0.7em;
  }
  &.full-width {
    margin: 0;
    align-self: center;
    width: 100%;
    @media (min-width: 600px) {
      width: calc(100% - 1.4em);
    }
  }
}

blockquote {
  margin: inherit auto;
  margin-left: 0;
  padding: 0 1em;
  border-left: 2px solid;
  @include themify($themes) {
    border-color: themed('color-red');
  }
  p {
    font-size: 0.9em;
  }
}

time {
  @include themify($themes) {
    color: themed('color-red');
  }
  font-family: $font-mono;
  &[title] {
    cursor: help;
  }
}

.listing {
  &__post {
    display: inline-block;
    padding: 0.3em 0.7em 1.3em 0.7em;
    @media (max-width: 600px) {
      padding: 0.3em 0 1.3em 0;
    }
    &__title {
      margin-top: 0.7em;
      margin-bottom: 0;
    }
    &__description {
      margin: 0;
      margin-top: 0.8em;
    }
  }
}

.header {
  margin-top: 1em;
  @media (min-width: 600px) {
    &__title:not(h1) {
      margin-top: 1.4em;
    }
  }
  &__menu {
    margin: 0 0 10px;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      @media (max-width: 599px) {
        justify-content: space-between;
      }
      &__item {
        &:first-child {
          margin-left: 0;
        }
        margin: 0 5px;
        border-style: solid;
        border-width: 1px;
      }
      &__toggler {
        &__off {
          display: none;
        }
        font-size: 1.75em;
        padding: 0 0.3em;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        @media (min-width: 600px) {
          margin-left: 20px;
        }
        &:hover {
          @include themify($themes) {
            background-color: themed('color-background-hover');
          }
        }
      }
    }
  }
}

.main {
  &__more {
    padding: 1em 0 0;
    margin-bottom: 0;
    text-align: right;
  }
}

.summary {
  margin: 0 0 5.5em 0;
  p {
    margin: 0em 0 0.4em;
  }
  &__title {
    margin-bottom: 0;
  }
}

.pagination {
  border-top: dashed 2px;
  border-bottom: dashed 2px;
  margin: 3em auto 2em auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  &__item {
    padding: 0 30px;
    @media (max-width: 599px) {
      padding: 0 10px;
    }
    &__left {
      flex: 1;
      text-align: left;
    }
    &__right {
      flex: 1;
      text-align: right;
    }
  }
}

.taglist {
  margin: 0;
  padding: 0;
}
.tagitem {
  font-family: $font-mono;
}

.footer {
  &__separator {
    margin: 40px auto 20px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    & > p {
      margin: 0;
    }
    &__left {
      text-align: left;
      @media (min-width: 600px) {
        &__back {
          margin-left: -0.7em;
        }
      }
    }
    &__right {
      text-align: right;
    }
    @media (max-width: 599px) {
      display: flex;
      flex-direction: column;
      &__left {
        text-align: center;
        padding-bottom: 0.5em;
        margin: 0;
      }
      &__right {
        text-align: center;
        margin-top: 0;
        a {
          padding-bottom: 0.5em;
        }
      }
    }
  }

  .web-ring {
    margin: 0.7em 0;
    a {
      cursor: pointer;
    }
  }

  .hcard {
    max-width: 25em;
    font-size: 0.8em;
    margin: 2em auto 2.2em;
    padding: 1.5em;
    position: relative;
    @include themify($themes) {
      border: solid 2px themed('color-border');
    }
    &__description {
      top: -0.9em;
      left: 1em;
      padding: 0 0.5em;
      position: absolute;
      @include themify($themes) {
        background-color: themed('color-background');
      }
      & > p {
        margin: 0;
      }
    }
    .h-card {
      position: relative;
      img {
        position: absolute;
        width: 5em;
        height: 5em;
      }
      & > a {
        margin-left: 6.5em;
      }
      & > .p-locality {
        margin-left: 6.5em;
      }
    }
  }

  &__copyright {
    margin: 0.7em 0 3em;
    font-size: 0.8em;
    text-align: center;
    @media (max-width: 599px) {
      display: flex;
      flex-direction: column;
      &__separator {
        display: none;
      }
    }
  }
}