@import "variables";
@import "fonts";
@import "content";

html {
  @include themify($themes) {
    background-color: themed('color-background');
    color: themed('color-text');
    font-weight: themed('font-weight');
  }
  font-family: $font-text;
  letter-spacing: 0.025rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

@media (max-width: 599px) {
  html {
    font-size: 15px;
  }
  body {
    padding: 0 1.5em;
    margin: 0;
  }
}

strong {
  @include themify($themes) {
    font-weight: themed('font-weight-bold');
  }
}

body {
  @include themify($themes) {
    background-color: themed('color-background');
    color: themed('color-text');
  }
  max-width: 600px;
  margin: 0 auto;
}

[hidden] {
  display: none;
}

pre {
  overflow: auto;
  padding: 0.5rem;
}

:not(pre) > code {
  @include themify($themes) {
    background-color: themed('color-background-hover');
  }
}

hr {
  border: 0;
  height: 0;
  @include themify($themes) {
    border-top: 1px solid themed('color-text');
  }
  &.list__subtitle {
    margin-bottom: 2rem;
  }
}

code {
  padding: 0.1rem;
  font-family: $font-mono;
  font-size: 0.9rem;
  &.language-bash {
    &:before {
      content: "$ ";
    }
  }
}

h1, h2, h3, h4, h5 {
  @include themify($themes) {
    color: themed('color-green');
    font-weight: themed('font-weight');
  }
  font-family: $font-text;
  line-height: 1.3;
  position: relative;
  a {
    font-family: $font-mono;
  }
}

h1:not(.header__title) {
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  @include themify($themes) {
    color: themed('color-blue');
    &.link-white, .link-white {
      color: themed('color-text');
    }
  }
  &#active {
    cursor: default;
  }
  &:hover:not(.wm-avatar):not(.no-hover), &#active {
    @include themify($themes) {
      background-color: themed('color-background-hover');
      color: themed('color-red');
    }
    &:not(.no-outline):not(.footnote-ref) {
      outline-style: solid;
      outline-width: 0.3rem;
      @include themify($themes) {
        outline-color: themed('color-background-hover');
        background-color: themed('color-background-hover');
      }
    }
  }
  &.button {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    @media(max-width: 360px) {
      padding: 0.3rem;
    }
  }
}

blockquote {
  margin: inherit auto;
  margin-left: 0;
  padding: 0 1em;
  border-left: 2px solid;
  @include themify($themes) {
    border-color: themed('color-red');
  }
  p {
    font-size: 0.9rem;
  }
}

time {
  @include themify($themes) {
    color: themed('color-red');
  }
  font-family: $font-mono;
  &[title] {
    cursor: help;
  }
}

.listing {
  &__post {
    width: 100%;
    display: inline-block;
    padding: 0.5rem 0 0.7rem;
    @media (max-width: 599px) {
      padding: 0.3em 0 1.3em 0;
    }
    &__title {
      margin: 0.01rem;
    }
    &__description {
      margin: 0;
      margin-top: 0.8em;
    }
  }
}

.header {
  margin-top: 1em;
  @media (min-width: 600px) {
    &__title:not(h1) {
      margin-top: 1.4em;
    }
  }
  @media (max-width: 599px) {
    &__title {
      font-size: 1.4rem;
      margin: 1rem 0;
    }
  }
  @media (max-width: 360px) {
    &__title {
      font-size: 1.2em;
    }
  }

  &__menu {
    margin: 0 0 10px;
    display: flex;
    justify-content: flex-start;
    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      @media (max-width: 599px) {
        justify-content: space-between;
      }
      &__item {
        &:first-child {
          margin-left: 0;
        }
        margin: 0 0.4rem;
        border-style: solid;
        border-width: 1px;
        @media (max-width: 599px) {
          margin: 0 0.1rem;
          font-size: 0.9rem;
        }
        @media (max-width: 360px) {
          font-size: 0.8rem;
        }
      }

      &__toggler {
        &__off {
          display: none;
        }
        font-size: 1.5rem;
        padding: 0 0.3em;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        @media (min-width: 600px) {
          margin-left: 20px;
        }
        &:hover {
          @include themify($themes) {
            background-color: themed('color-background-hover');
          }
        }
      }
    }
  }
}

.main {
  &__more {
    padding: 1em 0 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    text-align: right;
  }
}

.summary {
  margin: 1.5em 0;
  p {
    margin: 0em 0 0.4em;
  }
  &__title {
    margin-bottom: 0;
  }
}

.pagination {
  padding: 1em 0;
  display: flex;
  &__left {
    text-align: left;
    margin-left: 0.3rem;
  }
  &__center {
    flex: 1;
    text-align: center;
  }
  &__right {
    text-align: right;
    margin-right: 0.3rem;
  }
}

.tagitem {
  font-family: $font-mono;
  margin: 0 0.4rem;
}

.footer {
  &__separator {
    margin: 0.5rem auto 1.4rem;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5em;
    & > p {
      margin: 0;
    }
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
      a {
        padding: 0 0.2rem;
        margin: 0 0.2rem;
      }
    }
    @media (max-width: 599px) {
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      &__left {
        text-align: center;
        padding-bottom: 0.5em;
        margin: 0;
      }
      &__right {
        text-align: center;
        margin-top: 0;
        a {
          line-height: 2rem;
        }
      }
    }
    @media (max-width: 400px) {
      &__right {
        a {
          padding: 0 0.15rem;
          margin: 0 0.15rem;
        }
      }
    }
  }

  &__analytic {
    font-size: 0.8em;
  }

  .hcard {
    max-width: 19rem;
    font-size: 0.8rem;
    margin: 2rem auto 0.5rem;
    padding: 1rem 1rem 0.8rem;
    position: relative;
    @include themify($themes) {
      border: solid 1px themed('color-border');
    }
    &__description {
      top: -0.7rem;
      left: 0.8rem;
      padding: 0 0.4rem;
      position: absolute;
      @include themify($themes) {
        background-color: themed('color-background');
      }
      & > p {
        margin: 0;
      }
    }
    .h-card {
      position: relative;
      img {
        position: absolute;
        width: 3.8rem;
        height: 3.8rem;
      }
      & > a {
        margin-left: 5rem;
      }
      & > .p-locality {
        margin-left: 5rem;
      }
    }
  }

  .web-ring {
    font-size: 0.8rem;
    margin: 0 0 1.5rem;
  }

  &__license {
    margin: 0.7rem 0 1rem;
    font-size: 0.7rem;
  }
}

.footnotes {
  hr {
    margin-top: 3rem;
    margin-bottom: 0.2rem;
  }
  &__text {
    margin: 0;
  }
}
.footnote-ref {
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}

.bottom-hcard-container {
  margin: 4rem 0 1rem;
}
.hcard-top {
  margin: 0 0 0.8rem;
  font-size: 0.9rem;
}
.hcard-tags {
  margin: 0.8rem 0 0.7rem;
}
.hcard-bottom {
  margin: 0;
  font-size: 0.9rem;
}

.wm-hr {
  margin-bottom: 0.2rem;
}
.wm-div {
  margin-bottom: 3rem;
}

.wm-title {
  margin: 0 0 0.7rem;
}
.wm-subtitle {
  margin: 0.7rem 0 0.3rem;
  font-size: 0.8rem;
}

a.wm-avatar {
  width: 2rem;
  height: 2rem;
  font-size: 0.6rem;
  margin-right: 0.4rem;
}
img.wm-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.wm-reply {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.wm-reply-head {
  display: flex;
  align-items: center;
}
.wm-reply-content {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}
