@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$themes: (
  light: (
    color-text: #242424,
    color-background: #E3E0D7,
    color-background-hover: #D4D1C7,
    color-border: #555555,
    color-red: #C31B00,
    color-blue: #2263b6,
    color-green: #257933,
  ),
  dark: (
    color-text: #E3E0D7,
    color-background: #242424,
    color-background-hover: #303030,
    color-border: #808080,
    color-red: #F9690E,
    color-blue: #8DBFFF,
    color-green: #79D688,
  ),
);

$font-mono: 'iA Writer Duospace', monospace;
$font-text: 'iA Writer Quattro S', -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
