$themes: (
  light: (
    color-text: #242424,
    color-background: #E3E0D7,
    color-background-hover: #D4D1C7,
    color-red: #C31B00,
    color-blue: #2585FF,
    color-green: #257933,
  ),
  dark: (
    color-text: #E3E0D7,
    color-background: #242424,
    color-background-hover: #303030,
    color-red: #F9690E,
    color-blue: #8DBFFF,
    color-green: #79D688,
  ),
);

$font-mono: 'iA Writer Duospace', monospace;
$font-text: 'iA Writer Quattro S', Arial, Helvetica, sans-serif;
