{{ define "main" }}

  <article>
    {{ .Content }}
  </article>

  <hr>

  <h2>Blog Posts:</h2>
  <div class="listing">
    {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
      <a href={{ .Permalink }} class="button full-width listing__post">
        <h3 class="listing__post__title">
          {{ .Title }}
        </h3>
        <time class="listing__post__date">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
        {{ with .Description }}
          <p class="link-white listing__post__description">{{ . }}</p>
        {{ end }}
      </a>
    {{ end }}
    {{ $postURL := "/posts" | absURL }}
  </div>
  <p class="main__more"><a href={{ $postURL }} class="button">More Blogs ⤳</a></p>

  <hr>

  <h2>Notes:</h2>
  <div class="listing">
    {{ range first 5 (where .Site.RegularPages "Type" "notes") }}
      {{ partial "post/notes-item.html" . }}
    {{ end }}
  </div>
  {{ $notesURL := "/notes" | absURL }}
  <p class="main__more"><a href={{ $notesURL }} class="button">More Notes ⤳</a></p>


{{ end }}
