{{ define "main" }}
  {{ $postURL := "/posts" | absURL }}
  {{ $notesURL := "/notes" | absURL }}

  <article>
    {{ .Content }}
  </article>

  <hr>

  <a href={{ $postURL }}><h2>Blog Posts:</h2></a>
  <div href={{ $postURL }} class="listing">
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
      <a href={{ .Permalink }} class="area full-width listing__post">
        <h3 class="listing__post__title">
          {{ .Title }}
        </h3>
        <time class="listing__post__date">
          {{ .Date.Format "02 Jan 2006" }}
        </time>
        {{ with .Description }}
          <p class="link-white listing__post__description">{{ . }}</p>
        {{ end }}
        <p class="listing__post__description">Read More »</p>
      </a>
    {{ end }}
  </div>
  <p class="main__more"><a href={{ $postURL }} class="button">More Blogs ⤳</a></p>

  <hr>

  <a href={{ $notesURL }}><h2>Notes:</h2></a>
  <div class="listing">
    {{ range first 5 (where .Site.RegularPages "Type" "notes") }}
      {{ partial "post/notes-item.html" . }}
    {{ end }}
  </div>
  <p class="main__more"><a href={{ $notesURL }} class="button">More Notes ⤳</a></p>


{{ end }}
