{{ define "main" }}

  <article>
    {{ .Content }}
  </article>

  <hr>

  <h2>Blog Posts:</h2>
  <div class="listing">
    {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
      <p>
        <a href={{ .Permalink }} class="button full-width">
          <time>{{ .Date.Format "02 Jan 2006" }}</time>
          <br>
          <span class="link-white">{{ .Title }}</span> »
        </a>
      </p>
    {{ end }}
    {{ $postURL := "/posts" | absURL }}
  </div>
  <p class="main__more"><a href={{ $postURL }} class="button">More Blogs ⤳</a></p>

  <hr>

  <h2>Notes:</h2>
  <div class="listing">
    {{ range first 5 (where .Site.RegularPages "Type" "notes") }}
      {{ partial "post/notes-item.html" . }}
    {{ end }}
  </div>
  {{ $notesURL := "/notes" | absURL }}
  <p class="main__more"><a href={{ $notesURL }} class="button">More Notes ⤳</a></p>


{{ end }}
