{{ if .IsHome }}
  <h1 class="header__title">Yohanes Bandung Bondowoso</h1>
{{ else }}
  <h2 class="header__title">Yohanes Bandung Bondowoso</h2>
{{ end }}
<nav class="header__menu">
  <div class="header__menu__list">
    <span>
      {{ range .Site.Menus.main }}
        {{ $url := trim .URL "/" | absURL }}
        <a
          data-rel="prefetch"
          role="button"
          class="header__menu__list__item button no-outline"
          {{ if eq $.RelPermalink (print .URL "/") }}
            id="active"
          {{ else }}
            href={{ $url }}
          {{ end }}
        >
          {{ .Pre }}<span>{{ .Name }}</span>
        </a>
      {{ end }}
    </span>
  </div>
</nav>
