{{ if .IsHome }}
  <h1 class="header__title">Yohanes Bandung Bondowoso</h1>
{{ else }}
  <h2 class="header__title">Yohanes Bandung Bondowoso</h2>
{{ end }}
<nav class="header__menu">
  <div class="header__menu__list">
    <span>
      {{ $baseURL := .Site.BaseURL }}
      {{ range .Site.Menus.main }}
        {{ $url := trim .URL "/" | absURL }}
          <a
            href={{ $url }}
            data-rel="prefetch"
            role="button"
            class="header__menu__list__item button no-outline"
          >
            {{ .Pre }}<span>{{ .Name }}</span>
          </a>
      {{ end }}
    </span>
    <button
      class="header__menu__list__toggler__off"
      id="dark-toggler"
    >
      🌛
    </button>
  </div>
</nav>
