html {
	background-color: $color-background;
}

body {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 1em 1em;
  font-size: 1.2em;
  line-height: 1.6;
  font-family: 'iA Writer Duospace', Courier New;
  color: $color-text;
}

.header, .main, .footer {
  grid-column: 5 / span 6;
}

a {
  &:hover {
    color: $color-link-hover;
  }
}

img {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  margin: inherit auto;
  margin-left: 0;
  padding: 1em;
  border-left: 5px solid $color-green;
  &:before {
    display: none;
  }
  &:not(:first-of-type) {
    margin-top: .5em;
  }
  p {
    color: #555;
    font-size: 0.9em;
    font-family: 'iA Writer Quattro S', Arial, Helvetica, sans-serif;
  }
}

pre, code {
  font-family: 'iA Writer Mono S', monospace;
  font-size: 0.9em;
  background-color: #F1F1F1;
}

.content {
  width: 100%;
  & > * {
    margin-top: 1.5em;
  }
  & > h1 {
    margin-top: 2.5em;
    margin-bottom: 1rem;
  }
  pre {
    overflow: auto;
    padding: .5em;
  }
  code {
    padding: 0.1em;
  }
  table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    td, th {
      border: 1px solid #ddd;
    }
    td {
      padding: .5em 1em;
    }
    th {
      padding: 1em 2em;
      background-color: #333;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #F1F1F1;
    }
    tr:hover {
      background-color: #ddd;
    }
  }
  .highlight {
    .chroma {
      background-color: #F1F1F1;
    }
  }
  .under-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    &__info,
    &__social-share {
      align-self: center;
    }
  }
  .ad {
    display: flex;
    margin: 1rem auto;
    align-content: center;
    width: min-content;
    height: min-content;
    min-width: 320px;
    min-height: 320px;
    border: 1px solid #333;
    &__fallback {
      display: flex;
      align-items: center;
      p {
        margin:auto;
      }
    }
  }
  .author {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    padding: 1.5rem;
    & > *:not(:first-child) {
      margin-top: 1rem;
    }
    &__name {
      font-weight: 700;
      font-size: 1.5em;
    }
    &__image {
      border-radius: 100px;
    }
    &__bio,
    &__cta {
      text-align: center;
    }
    &__cta {
      font-size: 1.25em;
    }
  }
}

.header {
  margin-top: 1em;
  &__menu {
    margin: 0;
    padding: 10px 0;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    border: 1px solid #333;
    a {
      font-size: 1.2em;
      white-space: nowrap;
      border-bottom: none;
    }
    &__list {
      padding: 0;
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      li {
        padding: 0 1em;
        display: inline;
      }
    }
  }
}

.summary {
  &:not(:first-of-type) {
    h2 {
      margin-top: 2.5em;
    }
  }
  & > * {
    margin-top: 1.25em;
  }
  &__title {
    margin-bottom: 1rem;
  }
}



.main {
  min-width: 0;
  min-height: 80vh;
  .pagination {
    border-top: dashed 2px;
    border-bottom: dashed 2px;
    margin: 3em auto 2em auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    &__item {
      padding: 0 30px;
      @media (max-width: 600px) {
        padding: 0 10px;
      }
      &__left {
        flex: 1;
        text-align: left;
      }
      &__right {
        flex: 1;
        text-align: right;
      }
    }
  }
}

.taglist {
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 15px;
  }
  .header__menu__list {
    li {
      font-size: 0.85em;
    }
  }
}
