html {
	background-color: #e3e0d7;
}

body {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  font-size: 1.2em;
  font-family: 'iA Writer Duospace', Courier New;
  line-height: 1.6;
  color: black;
}

blockquote {
  font-family: 'iA Writer Quattro S', Arial, Helvetica, sans-serif;
}

.main {
  flex: 1;
}

.header {
  margin-top: 1em;
  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    border: 1px solid #333;
    a {
      font-size: 1.2em;
      white-space: nowrap;
      border-bottom: none;
      &:hover {
        color: $main-color;
      }
    }
    &__list {
      padding: 0;
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      li {
        padding: 0 1em;
        display: inline;
      }
    }
  }
}

.post {
  &__title {
    margin-bottom: 1rem;
  }
}

.main {
  min-width: 0;
  min-height: 80vh;
  .pagination {
    border-top: dashed 2px;
    border-bottom: dashed 2px;
    margin: 3em auto 2em auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    &__item {
      padding: 0 30px;
      @media (max-width: 600px) {
        padding: 0 10px;
      }
      &__left {
        flex: 1;
        text-align: left;
      }
      &__right {
        flex: 1;
        text-align: right;
      }
    }
  }
}

#tags {
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 15px;
  }
  .header__menu__list {
    li {
      font-size: 0.85em;
    }
  }
}
