<nav class="pagination">
  {{ if gt .Paginator.TotalPages 1 }}
    {{ if .Paginator.HasNext }}
      <a class="button pagination__item__left" role="button" href="{{ trim .Paginator.Next.URL "/" | absLangURL }}" data-rel="prefetch">
        < {{ i18n "older" }}
      </a>
    {{ else }}
      <span class="pagination__item__left"></span>
    {{ end }}
    <span class="pagination__item">*</span>
    {{ if .Paginator.HasPrev }}
      <a class="button pagination__item__right" role="button" href="{{ trim .Paginator.Prev.URL "/" | absLangURL }}" data-rel="prefetch">
        {{ i18n "newer" }} >
      </a>
    {{ else }}
      <span class="pagination__item__right"></span>
    {{ end }}
  {{ else }}
    <span> {{ i18n "nomore" }} </span>
  {{ end }}
</nav>